@import "tailwindcss";

@theme {
  --font-helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main-page::-webkit-scrollbar {
  display:none;
}

.main-page {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

